<div class="wrapper">
	{{{header}}}
	<div class="line"></div>
	<ul class="tabBtn" id="tabBtn">
		<li class="omTeacher curTab">欧美外教</li>
		<li class="flbTeacher">菲律宾外教</li>
	</ul>
	<div class="structure">
		<p>鹏博士英语课程体系理念（PBS  ENGLISH)</p>
		<div class="structureInfo">PBS是鹏博士的首字母缩写，也是Passionate激情，Brave勇敢，Smart机智三个英语单词的字母缩写设计PBS课程体系的中外教育专家把教师的核心任务定义为：1.最大限度激发学生参与热情。2.最大限度锻炼学生勇气和自信。3.最大限度培养学生灵活机智力。</div>
	</div>
	<ul class="courseList list">
	</ul>
	
</div>