<div class="wrapper">
	<div class="back">
		<a onclick="history.go(-1)">
			<div class="backBtn" id="backBtn"></div>
			<span>返回</span>
		</a>
		
	</div>
	<div class="userInput userRegisterInput">
		<div class="mobile inputList">
			<input type="text" placeholder="请输入手机号" class="inputMobile" maxlength="11" id="inputMobile">
		</div>
		<div class="messTest inputList">
			<input type="text" placeholder="请输入验证码" class="left inputTest" maxlength="6" id="inputTest">
			<input type="button" class="sendTest right" id="sendTest" value="发送验证码"/>
		</div>
	</div>
	<div class="entryBtn">
		<button class="gotoBtn registerBtn Reg-registerBtn" id="registerBtn">注册</button>
	</div>
</div>