$fontStack:    Helvetica, sans-serif;
$mainColor : #79c00b;
$designWidth : 640/10;

body {
    /*font-family: $fontStack;
    color: $primaryColor;
    width:100%;
    .wrapper{
        width:100%;
        .videoBox{
            width:640rem/$designWidth;
            height:360rem/$designWidth;
        }
    }
  	span{
      	display: block;
        width:100%;
    		background:yellow;
    		font-size: 30rem/$designWidth;
  	}
  	img{
  		width:640rem/$designWidth;
  	}
    video{
      width:100%;
      margin-top: 50rem/$designWidth;
      height:360rem/$designWidth;
    }*/
    .online{
      width: 439rem/$designWidth;
      height: 72rem/$designWidth;
      margin: 72rem/$designWidth auto 0;
      background: url('./img/online.png') no-repeat;
      background-size:100%;
    }
    .onlineList{
      margin: 21rem/$designWidth;
      overflow: hidden;
      li{
        float: left;
        width: 190rem/$designWidth;
        height: 176rem/$designWidth; 
        margin: 4rem/$designWidth;
      }
      li:first-child{
        background: url('./img/list1.png') no-repeat;
        background-size: 100%;
      }
      li:nth-child(2){
        background: url('./img/list2.png') no-repeat;
        background-size: 100%;
      }
      li:nth-child(3){
        background: url('./img/list3.png') no-repeat;
        background-size: 100%;
      }
      li:nth-child(4){
        background: url('./img/list4.png') no-repeat;
        background-size: 100%;
      }
      li:nth-child(5){
        background: url('./img/list5.png') no-repeat;
        background-size: 100%;
      }
      li:last-child{
        background: url('./img/list6.png') no-repeat;
        background-size: 100%;
      }
    }
    .adv{
        width: 516rem/$designWidth;
        margin: 40rem/$designWidth auto 72rem/$designWidth;
      li{ 
        height: 151rem/$designWidth;
      }
      .advOne{
        background: url('./img/advOne.png') no-repeat;
        background-size:100%;
      }
      .advTwo{
        background: url('./img/advTwo.png') no-repeat;
        background-size:100%;
        margin: 30rem/$designWidth 0;
      }
      .advThree{
        background: url('./img/advThree.png') no-repeat;
        background-size:100%;
        height: 126rem/$designWidth;
      }
    }
    .step{
      width: 452rem/$designWidth;
      height: 76rem/$designWidth;
      background: url('./img/step.png') no-repeat;
      background-size: 100%;
      margin:0 auto;
    }
    .stepInfo{
      width: 520rem/$designWidth;
      height: 102rem/$designWidth;
      background: url('./img/stepInfo.png') no-repeat;
      background-size: 100%;
      margin: 40rem/$designWidth auto 0;
    }
    .interactive{
      width: 538rem/$designWidth;
      height: 334rem/$designWidth;
      background: url('./img/interactive.png') no-repeat;
      background-size: 100%;
      margin: 58rem/$designWidth auto 0;
      
    }
    .screen{
      width: 100%;
      height: 79rem/$designWidth;
      background: url('./img/screen.png') no-repeat;
      background-size: 100%;
      margin: 72rem/$designWidth auto 50rem/$designWidth;
    }
    .screenImg{
      width: 100%;
      height: 284rem/$designWidth;
      background: url('./img/screenImg.png') no-repeat;
      background-size: 100%;
      /*安全距离*/
      margin-bottom: 148rem/$designWidth;  
    }
    /*底部*/
    .bottom{
      width: 100%;
      height: 92rem/$designWidth;
      background: #363636;
      position: fixed;
      left:0;
      bottom:0;
      border-top:1px solid #afafaf;
      .erweima{
        width: 73rem/$designWidth;
        height: 73rem/$designWidth;
        background: url('./img/erweima.png');
        background-size: 100%;
        margin: 9rem/$designWidth 0 0 25rem/$designWidth;
      }
      .downloadBtn{
        width: 156rem/$designWidth;
        height: 51rem/$designWidth;
        line-height: 51rem/$designWidth;
        text-align: center;
        font-size: 24rem/$designWidth;
        margin:21rem/$designWidth 14rem/$designWidth 0 21rem/$designWidth;
        color: white;
        background: $mainColor;
        border-radius: 6rem/$designWidth;
        
        /* 不可复制*/
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
      }
      .Audition{
        font-size: 22rem/$designWidth;
        line-height: 92rem/$designWidth;
        color: white;
      }
      .Sline{
        float: left;
        width: 2rem/$designWidth;
        height: 30rem/$designWidth;
        margin: 28rem/$designWidth 12rem/$designWidth 0;
        background-color: white;
      }
      .address{
        color: white!important;
        margin-top: 22rem/$designWidth;
          p{
            font-size: 16rem/$designWidth;
            height: 22rem/$designWidth;
            line-height: 22rem/$designWidth;
            
          }
      }
    }
    .goTop{
      width: 46rem/$designWidth;
      height: 46rem/$designWidth;
      background: url('./img/up.png') no-repeat;
      background-size: 100%;
      position: fixed;
      bottom: 115rem/$designWidth;
      right: 35rem/$designWidth;
      display: none;
    }
}