<div class="wrapper">
	 <!-- <span>index</span>
	<a href="./login.html">login</a>
	<img src="http://picture.pbsedu.com:80/group2/M00/03/6A/rBABGVm3QoiAPQgLAAB_z-JGPJQ625.jpg" alt="">
	<button>下载APP</button>  -->
	{{{header}}}
	{{{banner}}}
	<div class="online"></div>
	<ul class="onlineList">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<ul class="adv">
		<li class="advOne"></li>
		<li class="advTwo"></li>
		<li class="advThree"></li>
	</ul>
	<div class="stepBox">
		<div class="step"></div>
		<div class="stepInfo"></div>
	</div>
	<div class="interactive"></div>
	<div class="screenBox">
		<div class="screen"></div>
		<div class="screenImg"></div>
	</div>
	<div class="bottom">
		<div class="erweima left"></div>
		<div class="downloadBtn left" id="downloadBtn">立刻下载</div>
		<span class="Audition left">试听更多课程</span>
		<b class="Sline"></b>
		<div class="left address">
			<p>微信：PBSEnglish</p>
			<p>电话：400-6600-006</p>
		</div>
	</div>
	<div class="goTop"></div>
</div>