<div class="header">
	<div class="top">
		<div class="logo"></div>
		<div class="userMessage">
		</div>
	</div>
	<ul class="nav" id="nav">
		<a href="./">
			<li id="Index">首页</li>
		</a>
		<a href="./buyCourse.html">
			<li id="buyCourse">购买课程</li>
		</a>
		<a href="./aboutUs.html">
			<li id="aboutUs">了解更多</li>
		</a>
	</ul>
	
</div>