<div class="wrapper">
	<div class="login">
		<img src={{{loginImg}}} alt="">
	</div>
	<div class="userInput">
		<div class="mobile inputList">
			<input type="text" placeholder="请输入手机号" class="inputMobile" maxlength="11" id="inputMobile">
		</div>
		<div class="messTest inputList">
			<input type="text" placeholder="请输入验证码" class="left inputTest" maxlength="6" id="inputTest">
			<input type="button" class="sendTest right" id="sendTest" value="发送验证码"/>
		</div>
	</div>
	<div class="entryBtn">
		<button class="gotoBtn loginBtn" id="loginBtn" onselectstart="return false" oncopy="return false">登录</button>
		<button class="registerBtn" onselectstart="return false" oncopy="return false">注册</button>
	</div>
	<div ></div>
</div>