<div class="wrapper">
	<div class="back">
		<a href="./buyCourse.html">
			<div class="backBtn" id="backBtn"></div>
			<span>返回</span>
		</a>
		<div class="title">确认订单</div>
	</div>
	<ul class="orderInof">
		<li>
			<span>订单编号：</span>
			<div class="tradeNo"></div>
		</li>
		<li>
			<span>课程编号：</span>
			<div class="uniqId"></div>
		</li>
		<li>
			<span>1对1课程：</span>
			<div class="name"></div>
		</li>
		<li>
			<span>订单金额：</span>
			<div><span style="color:red;">¥</span><span style="color:red;" class="price"></span>元</div>
		</li>
		<li>
			<span>备注信息：</span><div class="remarks"></div>
		</li>
	</ul>
	<div class="agreementSelect">
		<span>已阅读并同意</span>
		<a class="gotoAgreement">《鹏博士英语课程服务协议》</a>
	</div>
	<div class="zfbBtn">支付宝支付</div>


</div>



