<div class="wrapper">
	{{{header}}}
	<div class="line"></div>
	<div class="content">
		<div class="aboutUs">
			<div class="aboutUsTitle">关于我们</div>
			<div class="aboutUsInfo">
				<p>鹏博士英语（Peng English）是北京鹏博士智慧教育科技有限公司针对家庭场景设计研发的精品在线英语学习平台，整合优质国际教育资源，在澳大利亚及泰国建立多个外教中心，拥有1000+优质母语外教师资团队，重点针对中国青少年孩子，早幼教、小学、中学阶段提供领先的一对一、一对多在线英语直播培训教学服务，让中国孩子感受国际教育，快速提升英语能力。</p>
			</div>
		</div>
		<div class="contactInfo">
			<p>电话：010-52239164  13810637481</p>
			<p>(工作日座机/节假日手机)</p>
			<p>邮箱：pengenglish@btte.net</p>
			<p>地址：北京市东城区和平里东街11号航星科技园3号楼1层</p>
			<p>QQ：2282350171</p>
		</div>

	</div>
</div>