<div class="wrapper">
	<div class="back">
		<a class="returnUrl">
			<div class="backBtn" id="backBtn"></div>
			<span>返回</span>
		</a>
		
	</div>
	<div class="agreement">
		<!-- <div class="agreementTitle">鹏博士英语课程服务协议</div> -->
		<div class="result"></div>
	</div>
	
</div>