<div class="wrapper">
	<div class="back">
		<a  class="returnUrl">
			<div class="backBtn" id="backBtn"></div>
			<span>返回</span>
		</a>
		<div class="title">备注信息</div>
		<div class="confirm">完成</div>
	</div>
	<div class="remarkBox">
		<!-- <input type="text" placeholder="备注信息"> -->
		<textarea id="commentText" ></textarea>
		<div class="defaultShow">填写您的备注信息(不超过120个字节)……</div>
		<div class="count">
			<span class="Num" id="Num">120</span>
			<span>/ 120</span>
		</div>
	</div>
</div>