<div class="slide" id="slideImg">
    <ul class="banner-show" id="J-bannershow">
        <li>
            <img src={{{bannerImg1}}} alt="">
        </li>
    	<li>
		    <img src={{{bannerImg2}}} alt="">
		</li>
		<li>
		    <img src={{{bannerImg3}}} alt="">
		</li>
    </ul>
    <div class="dot">
    <!-- .cut为当前点颜色 -->
    	<span></span>
    	<span></span>
    	<span></span>
    </div>
</div>